@import "services-list.scss";

.ba-section--services {
  background-color: #70bfff;
  padding: 100px 0 150px;
}

.ba-title--services {
  text-align: center;
  padding: 220px 0;
  color: #fff;
  background: url(../img/tomato.png) no-repeat 50%;
}