.ba-section--services {
  background-color: #70bfff;
  padding: 100px 0 150px; }

.ba-title--services {
  text-align: center;
  padding: 220px 0;
  color: #fff;
  background: url(../img/tomato.png) no-repeat 50%; }

.ba-services {
  list-style: none;
  padding: 76px 0 0 100px;
  margin: 0; }

.ba-service {
  background-color: #ffffff;
  height: 100px;
  font-size: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  max-width: 400px; }

.ba-service:first-child {
  margin-top: 0; }

.ba-service__icon {
  display: inline-block;
  height: 100px;
  width: 100px;
  background-position: 50%;
  background-repeat: no-repeat;
  border-left: 1px solid #9D9D9D;
  vertical-align: middle; }

.ba-service__title {
  display: inline-block;
  line-height: 1.3;
  font-size: 20px;
  width: calc(100% - 100px);
  margin: 0;
  vertical-align: middle;
  padding: 0 30px;
  text-align: center; }

.ba-service__icon--cart {
  background-image: url(../img/icons/icon-cart.svg); }

.ba-service__icon--globe {
  background-image: url(../img/icons/icon-globe.svg); }

.ba-service__icon--quality {
  background-image: url(../img/icons/icon-quality.svg); }

.ba-service__icon--carrot {
  background-image: url(../img/icons/icon-carrot.svg); }
