

.ba-services-list {
  list-style: none;
  padding: 76px 0 0 100px;
  margin: 0;
}

.ba-service {
  background-color: #ffffff;
  height: 100px;
  font-size: 0;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  max-width: 400px;

  &:first-child {
    margin-top: 0;
  }

  &__title {
    display: inline-block;
    line-height: 1.3;
    font-size: 20px;
    width: calc(100% - 100px);
    margin: 0;
    vertical-align: middle;
    padding: 0 30px;
    text-align: center;
  }

  &__icon {
    display: inline-block;
    height: 100px;
    width: 100px;
    background-position: 50%;
    background-repeat: no-repeat;
    border-left: 1px solid #9D9D9D;
    vertical-align: middle;

    &--cart {
      background-image: url(../img/icons/icon-cart.svg);
    }

    &--globe {
      background-image: url(../img/icons/icon-globe.svg);
    }

    &--quality {
      background-image: url(../img/icons/icon-quality.svg);
    }

    &--carrot {
      background-image: url(../img/icons/icon-carrot.svg);
    }
  }
}

